/* ==============================
type 
================================= */


// this sets rem units
body {
	font-family: $bodycopy;
	font-size: 14px;
	font-weight: $regular;
	line-height: 1.5;
	@include media-breakpoint-up(md) {
		font-size: 16px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 17px;
	}
}


/* ==============================
type 
================================= */

p {
	margin: 0 0 14px;
	padding: 0;
}

label,
.label {
	color: $gray;
	font-weight: $bold;
	font-size: 13px;
	text-transform: uppercase;
	font-family: $headline;
}


ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin-bottom: 12px;
}

ul.sublist {
	margin: 16px 0 !important;
}

ol {
	margin-left: 40px;
	li {
		list-style-type: decimal;
	}
}

ul.disc li,
ul.sublist li,
#content ul > li {
	list-style-type: disc;
	margin-left: 20px;
}

b,
strong {
	font-weight: $bold;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
}

blockquote::before {
	content: "\201C";
	display: block;
	font-size: 30px;
	height: 0;
	left: -20px;
	position: relative;
	top: -10px;
}

.black-text {
	color: $black;
}

.white-text {
	color: $white;
}

.gray-text {
	color: $gray;
}

p.error-text,
div.error-text {
	padding: 6px 15px;
	margin: 10px 0;
	background-color: $red;
	color: $white !important;
	font-size: 14px;
}


.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.small {
	font-size: 12px;
}

.tac {
	text-align: center;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.bold {
	font-weight: $bold;
}

.large {
	font-size: 18px
}

.xlarge {
	font-size: 22px
}


/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6, 
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin: 0 0 10px;
	font-family: $headline;
	line-height: 1.1; // letter-spacing: 1px;
	color: $black;
	
	text-transform: none;
	
	&.bold {
		font-weight: $bold;
	}
	&.no-bottom {
		margin-bottom: 0 !important;
	}
}

h1,
.h1 {
	font-size: 36px;
	
	@include media-breakpoint-up(md) {
		font-size: 48px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 54px;
		
	}
}

h2,
.h2 {
	font-size: 28px;
	
	@include media-breakpoint-up(md) {
		font-size: 30px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 34px;
	}
}

h3,
.h3 {
	font-size: 20px;
	@include media-breakpoint-up(md) {
		font-size: 26px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 30px;
	}
}

h4,
.h4 {
	font-size: 18px;
	@include media-breakpoint-up(md) {
		font-size: 22px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 26px;
	}
}

h5,
h6,
.h5,
.h6 {
	font-size: 20px;
}

