/* ==============================
variables.scss
================================= */

// See variables.scss in bootstrap for settings

$smoke: #f5f5f5;
$lt-gray: #E9EDF4;
$toothpaste: #EFFCED;
$gray: #929292;
$border: #dddddd;
$royal-blue: #0071CE;
$mid-blue: #00A0DF;
$periwinkle: #89A9E2;
$cyan: #6CDEE3;
$dk-blue: #032B57;
$sky-blue: #D9FCFC;
$powder-blue: #C3F8FB;
$magenta: #E11282;
$pink: #d41772;
$orange: #FF8300;
$yellow: #FFD100;
$green: #3FAE29;
$dk-green: #006242;
$brick: #B4483A;
$red: #D11045;
$brown: #5B2A13;
$gold: #86764f;


$bodycopy: Georgia, serif;
$headline:  Helvetica,Arial,sans-serif;
$serif: Georgia, serif;
$monospace : 'menlo',  monico, consalas, monospace, sans-serif;


// Font weights

$regular: 400;
$bold: 700;
